<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RecruitingManagerEntities" connectionString="metadata=res://*/RecruitingManagerModels.csdl|res://*/RecruitingManagerModels.ssdl|res://*/RecruitingManagerModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ec2-54-214-55-184.us-west-2.compute.amazonaws.com;user id=ServiceUser;password=pass@word1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>