#candidateCreator
{
 
 margin-left: 1%;
 padding-bottom: 20px;  
 height: 75px; 
    
    
}




#selectCandidate
{
/* margin-left: 30%;
 margin-right: 30%;   */
}

#selectCandidate ul
{
   list-style-type: none; 
    
}

#selectCandidate li
{
    display: block;
    border-bottom: 1px solid gray;
    height: 30px; 
    margin-top: 10px;


}

.currentCandidateTitle
{
    float: right;
    margin-top: 10px;
    color: White;
}

#formContainer
{
    margin-top: 40px;
}

#selectCandidate a
{
 display: block;
 margin-left: 5%;
 font-size: 15px;
 color: black;
 text-shadow: .5px .5px gray;
 text-decoration: none;
    
}

h4
{
 color: #003a63;

}

#accordion .headerContainer
{
    border: 1px solid gray;
    height: 60px;
   /* border-radius:10px; */
    background-color: #003a63;
    color: White;
   
  
}

.headerContainer h3
{
    margin-left: 40%;
}


#swipeUp
{
 height: 80px;
 width: 99%;
 background-color: gray;
 padding-bottom: -10px;   
}

#swipeUp table
{   margin-left: 40%;
    width: 75%;
}
.contentContainer
{
   padding-top: 20px;
   margin-left: 2%;
}

.row
{
    padding-bottom: 30px;
}
.span4
{
    border: 1px solid black;
    box-shadow: 2px 2px 1px #888888;  
    margin-left: 5px;
    margin-bottom: 2.5px;
}

.submitButton
{
 margin-top: -10px;   
}

.title
{
 width: 95%;
 margin-left: .5%;
 margin-right: .5%;
 border-bottom: 1px solid #003a63;
 margin-bottom: 10px;
}




.findCandidate
{
    margin-left: 1%;
    margin-right: 1%;
}

.notes
{
    margin-top: 10px;
   height: 60px;
   width: 80%;
}



.cardContent
{
 margin-left: 1%; 
 width: 98%;  
}

#addCandidateModal
{
    width:100%;
    height: 100%;
    top: 0%;
    position:fixed;
    z-index: 1000;
}

#modalView { /* The actual box, centered in the fixed-position div */
    width:100%;
    height: 100%;
    top: 0%;
    position:fixed;
    z-index: 1000;
}



.modalContent
{
   /* height: 50%; */
    width: 20%;
    margin-top: 10%;
    margin-left: 40%;
    background-color:white;
    padding:10px;
    border:1px solid black;
    box-shadow: 2px 2px 1px #888888;

}


.cardModal
{
   /* height: 50%; */
    width: 50%;
    margin-top: 10%;
    margin-left: 10%;
    background-color:white;
    padding:10px;
    border:1px solid black;
    box-shadow: 2px 2px 1px #888888;  

}

.interviewedAlready
{
 margin-top: 20px;   
}

.modalBtn
{
float: right;
width: 45%; 
height: 10%;  
}

.submitCandidateNotes
{
    float: left;
    width: 45%;
    height: 10%;
}

.currentInterview
{
 margin-top: 5%;   
}

.currentInterview textarea
{
 height: 40%;
 width: 90%;   
}
.modalContent strong
{
 border-bottom: 1px double black width: 90%;
 
}

.modalContent select
{
 width: 70%;
 margin-left: -5%;   
}

.interviewHistory
{
    width: 100%;
}

.chatWindow
{

 border: 1px solid black;
 border-radius:10px;
 margin-top: 10px;

}

.chatWindow span
{
 margin-left: 5px;   
}

/*delete starting here */

#leftPanel 
{
width: 20%;
height: 100%;
position: absolute;
margin-left: 10px;
float: left;
border-right: 2px solid black;
 box-shadow: 2px 0px 1px #888888;
}

.chooseCandidate
{
margin-top: 8%;
margin-left: 20%;
}

.chooseCandidate select
{
  margin-left: -10%;
}

.createCandidate button
{
    margin-left: 15%;
}


.overview
{
   margin-top: 15px;
   margin-left: 20%;
}

.candidateInformation strong
{
  
  margin-left: -20%;
}


.border
{
    margin-top: 20px;
    margin-left: 5%;
    width: 80%;
    border-bottom: 2px dashed black;
}

.interviewFeedback
{
 margin-top: 20px;
 margin-left: 20%;
    
}

.interviewFeedback div
{
 margin-left: -20%;
 width: 98%;   
}

#addNotes
{
  margin-top: 20px;
  margin-left: 25%;  
}

#addNotes form
{
 margin-left: -30%;   
    
}
#addNotes textarea
{
 width: 90%;   
}

#addNotes button
{
 width: 95%;   
}

#rightPanel
{

 width: 79%;
 float: right;
}

#rightPanelHeader
{
 
 border-bottom: 4px solid black;
 /*background: -ms-linear-gradient(top, #efe9e5, #fff);*/
 height: 90px;

    
}

#rightPanelHeader table 
{
 width: 100%;   
}


.showLeftPanel
{
 height: 94%;   
 width: 80px;
 border: 1px solid black;
 /*border-radius: 6px;*/
 background-color: White;
 box-shadow: 2px 0px 1px #888888;
 
}

.showLeftPanel img
{
 margin-top: 10px;   
}

.button
{
 border: 1px solid black;
 box-shadow: 2px 0px 1px #888888;
 width: 94%;
 height: 50px;
 background-color: #003a63;   
 border-radius: 2px;
 color: White;
}

.button p
{
margin-top: 15px;
text-align: center;
font-weight: bold;
color: White;


}

.modalButton
{
 
  border: 1px solid black;
 box-shadow: 2px 0px 1px #888888;
 width: 40%;
 height: 50px;
 background-color: #003a63;   
 border-radius: 2px;   
 float: left;
 text-align: center;
font-weight: bold;
color: White;

}

 

.cancelButton
{
    border: 1px solid black;
 box-shadow: 2px 0px 1px #888888;
 width: 30%;
 height: 50px;
 background-color: Red;   
 border-radius: 2px;   
 color: White;
 font-weight: bold;
    
}

.cancelButton p
{
margin-top: 15px;
text-align: center;
font-weight: bold;
color: White;
    
}

.buttons
{
 margin-left: 30%;   
}