body
{
  background-color: #efe9e5;
}

#candidateCreator
{
 
 margin-left: 1%;
 padding-bottom: 20px;  
 height: 75px; 
    
    
}



#selectCandidate
{
/* margin-left: 30%;
 margin-right: 30%;   */
}

#selectCandidate ul
{
   list-style-type: none; 
    
}

#selectCandidate li
{
    display: block;
    border-bottom: 1px solid gray;
    height: 30px; 
    margin-top: 10px;


}

#selectCandidate a
{
 display: block;
 margin-left: 5%;
 font-size: 15px;
 color: black;
 text-shadow: .5px .5px gray;
 text-decoration: none;
    
}

h4
{
 color: #003a63;

}

#accordion .headerContainer
{
    border: 1px solid gray;
    height: 60px;
    border-radius:10px;
    background-color: #003a63;
    color: White;
   
  
}

.headerContainer h3
{
    margin-left: 40%;
}


#swipeUp
{
 height: 80px;
 width: 99%;
 background-color: gray;
 padding-bottom: -10px;   
}

#swipeUp table
{   margin-left: 40%;
    width: 95%;
}
.contentContainer
{
   padding-top: 20px;
   padding-bottom: 20px;
   margin-left: 2%;
}

.span4
{
    border: 1px solid black;
    margin-left: 5px;
    margin-bottom: 2.5px;
}

.submitButton
{
 margin-top: -10px;   
}

.title
{
 width: 95%;
 margin-left: .5%;
 margin-right: .5%;
 border-bottom: 1px solid #003a63;
 margin-bottom: 10px;
}




.findCandidate
{
    margin-left: 1%;
    margin-right: 1%;
}

.notes
{
    margin-top: 10px;
   height: 60px;
   width: 80%;
}

.cardContent
{
 margin-left: 1%; 
 width: 98%;  
}