<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">API Controller for the Recruiting Manager</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Service Definition Listing </h1>
                <h2>for the API driving data and behavior for the Recruiting Manager Application.</h2>
            </hgroup>
            <p>
                The listing below will document (as necessary) the services available in this API.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Service Definition:</h3>
        
        <h5>Competency</h5>
        Located at: <a href='API/Competency'>*host-application*/API/Competency</a>
            
        <h5>Interview Question</h5>
        Located at: <a href='API/InterviewQuestion'>*host-application*/API/InterviewQuestion</a>
        
        <h5>Candidate</h5>
        Located at: <a href='API/Candidate'>*host-application*/API/Candidate</a>

        <h5>Interviewer</h5>
        Located at: <a href='API/Interviewer'>*host-application*/API/Interviewer</a>
            
    </section>
</div>
