@using Slalom.CustomAppDev.RecruitingManager.DomainObjects.Competency;
@using Slalom.CustomAppDev.RecruitingManager.Web.ViewsHelpers;
@model Slalom.CustomAppDev.RecruitingManager.DomainObjects.Competency.CompetencyArea

 <script type="text/javascript">

  
  </script>

<section class="card">            
      
            <div class="span4">
                <div class="cardContent" ng-click="getSelectedCard($index)">
              
                    <strong>{{competency.CompetencyName}}</strong>
                    <span>{{competency.Description}}</span>
                    <div class="interviewedAlready">
                        <p>Interviewed By: </p>
                        <ul>
                        <li ng-repeat="interviewer in competency.InterviewedBy">{{interviewer}}</li>
                        </ul>
                        
                        
                   </div>
               </div>
            </div>
 
            
             
             
           


</section>



