@using Slalom.CustomAppDev.RecruitingManager.DomainObjects.Competency;
@using Slalom.CustomAppDev.RecruitingManager.Web.ViewsHelpers;
@model Slalom.CustomAppDev.RecruitingManager.DomainObjects.Competency.CompetencyArea

<section class="card" ng-controller="@CardViewHelpers.GetAngularController(Model)">
            <div class="span4">
                <div class="cardContent" ng-repeat="Competency in CompetencyTileData()">
                    <strong>{{Competency.CompetencyName}}</strong><br />
                    <span>{{Competency.Description}}</span><br /><br />
                    <div class="interviewedAlready">
                        <strong>History: {{Competency.History}}</strong> <br />
                        <span>Level: {{Competency.Level}}</span> <br />
                        <span>Interviewed By: {{Competency.InterviewedBy}}</span>
                   </div>
               </div>
            </div>
</section>



