@using Slalom.CustomAppDev.RecruitingManager.DomainObjects.Competency;
@using Slalom.CustomAppDev.RecruitingManager.Web.ViewsHelpers;
@model Slalom.CustomAppDev.RecruitingManager.DomainObjects.Competency.CompetencyArea

 <script type="text/javascript">

     function newURL(id) {

         $('#modalView').show(5000);
         alert(id);
     
     }
  
  </script>

<section class="card">            
      
            <div class="span4" onclick="newURL({{$index + 1}})">
                <div class="cardContent">
              
                    <strong>{{competency.CompetencyName}}</strong><br />
                    <span>{{competency.Description}}</span><br /><br />
                    <div class="interviewedAlready">
                        <strong>{{competency.History}}</strong> <br />
                        <span>Level: {{competency.Level}}</span> <br />
                        <span>Interviewed By: {{competency.InterviewedBy}}</span>
                   </div>
               </div>
            </div>
 


</section>



