<section class="card">

                <div class="span4">
                  <div class="cardContent">
                  
                 <strong>Competency Name</strong><br />
                  <span>Brief Description</span><br /><br />

                    <div class="interviewedAlready">
                        
                        <strong>Interview History</strong> <br />
                        <span>Level: Pick a Level</span> <br />
                        <span>Interviewed By: Go</span>
                        
                     
                    </div>

                    </div>
                </div>
              



</section>



