@using Slalom.CustomAppDev.RecruitingManager.DomainObjects.Competency;
@using Slalom.CustomAppDev.RecruitingManager.Web.ViewsHelpers;
@model Slalom.CustomAppDev.RecruitingManager.DomainObjects.Competency.CompetencyArea

 <script>
     $(function () {
         $('#dialog').hide();
     });
    
     function openModal()
     {
         $('dialog').show();
     }
  </script>

<section class="card">
            <div class="span4" onclick="openModal()">
                <div class="cardContent">
                    <strong>{{competency.CompetencyName}}</strong><br />
                    <span>{{competency.Description}}</span><br /><br />
                    <div class="interviewedAlready">
                        <strong>{{competency.History}}</strong> <br />
                        <span>Level: {{competency.Level}}</span> <br />
                        <span>Interviewed By: {{competency.InterviewedBy}}</span>
                   </div>
               </div>
            </div>

 <div id="dialog" title="Basic Dialog">
 <p>Test Content</p>
 </div>
        
</section>



