@using Slalom.CustomAppDev.RecruitingManager.DomainObjects.Competency;
@model Slalom.CustomAppDev.RecruitingManager.Web.Models.HomeModel

@{
    ViewBag.Title = "App Dev Interview Form";
}
@section featured {

    

  <script type="text/javascript">
      $(function () {

          $("#selectedCandidate").hide();
          $(".interviewedAlready").hide();

          $("#accordion").accordion({
              collapsible: true,
              active: false
          });

      });

      function showDiv() {

          $(".contentContainer").height(350);
          $("#selectedCandidate").show();
          var alreadyInterviewed = true;
          $(".interviewedAlready").show();
      }
  </script>

    <section class="featured">
           
        <div id="accordion">
        
            <div class="headerContainer"><h3>Candidate Overview</h3></div>
                <div class="contentContainer">
                 <div class="title">
                 <h4>Find A Candidate</h4>
                 </div>
                 <div class="row">
                 <div class="span6">
                 <h5>Search for Candidate</h5>
                 </div>
                 <div class="span6">
                 <h5>Select a Candidate</h5>
                 </div>
                 </div>

                 <div class="row">
                    
                    <div class="span6">
                        <input type="search" />
                        <button class="submitButton" onclick="showDiv()">Search</button>
                    </div>

                    <div class="span6">
                        <select>
                        <option>Test Option 1</option>
                        <option>Test Option 2</option>
                        </select>
                    </div>
  
                 
                 </div>
                    
             
             <!--Add show hide via JS -->
              
              <div id="selectedCandidate">
              

                <div class="title"><h4>Candidate Information</h4></div>
             
                <div class="row">
                    <div class="span2">
                    <img src="../../Images/BrendanPic.png" alt="" />
                    </div>

                    <div class="span12">
                    <strong>Name: </strong> <span>Brendan Schoch</span> <br />
                    <strong>Number of Times Interviewed: </strong><span>3</span> <br />
                    <strong>Interviewed By: </strong><span>Mikey B, Larry, Eric/Russell</span> <br />
                    <span><textarea class="notes" disabled>Test some content in here</textarea></span>
                    </div>
               
                </div>
             
            

             </div>
              
        </div>
        <!--Add iterator for the accordion items -->
            @foreach (CompetencyArea area in Model.CompetencyAreas)
            { 
                <div class="headerContainer"><h3>@area.ToString()</h3></div>
                <div class="contentContainer">
                    <div class="row">
                    @for (int i = 0; i < 6; i++)
                    {
                        @Html.Partial("CardView")
                    }
                    </div>
                </div>
            }
        </div>
    </section>
}


