@using Slalom.CustomAppDev.RecruitingManager.DomainObjects.Competency;
@model Slalom.CustomAppDev.RecruitingManager.Web.Models.HomeModel
@using Slalom.CustomAppDev.RecruitingManager.DomainObjects.Competency;
@using Slalom.CustomAppDev.RecruitingManager.Web.ViewsHelpers;


@{
    ViewBag.Title = "App Dev Interview Form";
}
@section featured {

    

  <script type="text/javascript">
      $(function () {
           $('.rightImage').hide();
       
          $('#modalView').hide();
          $('#addCandidateModal').hide();

          $('#formContainer').hide();


          $("#accordion").accordion({
              collapsible: true,
              active: false,
          });

      });

      
      
      function showDiv() {

          $(".contentContainer").height(350);
          $("#selectedCandidate").show();
          var alreadyInterviewed = true;
          $(".interviewedAlready").show();
      }

      function hideModal() {

          $('#modalView').hide();

      }

      function hideAddCandidateModal() {
       $('#addCandidateModal').hide();
      

      }

      function launchAddCandidateModal() {
     

     $('#addCandidateModal').show(5000);
      }
      

      function showLeftPanel()
      {
       var flag =$('#leftPanel').is(':visible');  
  
       if(flag == false)
       {
       $('#leftPanel').show(500);
       $("#rightPanel").css("width", "79%");
       $('.leftImage').show();
       $('.rightImage').hide();
       }
       else
       {
        $('#leftPanel').hide(500);
        $("#rightPanel").css("width", "100%");
         $('.leftImage').hide();
          $('.rightImage').show();
       
       
       }
     
      }

    

  </script>

    
 <section class="featured" ng-controller="selectCandidateCntrl">





    <div id="leftPanel">
    
    <div class="chooseCandidate">   
    <h4>Select Candidate</h4>

    <select ng-model="selectedCandidate" ng-options="c.name for c in candidates"></select> <br />
    </div>

    
    <button class="button" onclick="launchAddCandidateModal()">Add Candidate</button> 
    
    <div class="border"></div>
   
    
    
    
    <div class="overview">
    <h4>Candidate Overview</h4> 
    
    <div class="candidateInformation">
    <strong>Name: </strong> {{selectedCandidate.name}}</span> <br />
    <strong>Number of Times Interviewed: </strong><span ng-model="selectedCandidate">{{selectedCandidate.timesInterviewed}}</span> <br />
    <span><strong>Interviewed By: </strong></span>
    <ul>
     <li ng-repeat="interviewedBy in selectedCandidate.interviewedBy">{{selectedCandidate.interviewedBy[$index]}}</li>
    </ul>
    </div>              
   
  
  
    </div>
    
     <div class="border"></div>


     <div class="interviewFeedback">  
    <h4>Interview Feedback</h4>
                  
    <div ng-repeat="interviewInformation in selectedCandidate.interviewedBy" class="chatWindow">
    <span ng-model="selectedCandidate">{{selectedCandidate.interviewedBy[$index]}} Says: </span>
    <span ng-model="selectedCandidate">{{selectedCandidate.Notes[$index]}}</span>
    
    </div>
              
    </div>

    <div class="border"></div>
    
      <div id="addNotes">
    <h4>Add Feedback</h4>
   
   <form>
    <textarea rows="4"></textarea>
    <button class="button">Submit</button>
   </form>
    </div>


    </div>

  



     <div id="addCandidateModal">
             
              <div class="modalContent">
                 <form ng-submit="addCandidates()">
                 <strong>Add Candidate</strong> <br /><br />
                    <span>First Name: </span><input type="text" ng-model="candidateName" />
                    <span>Last Name: </span><input type="text" /> <br />
                 <div class="buttons">   
                    <input class="modalButton" type="submit" value="add" />&nbsp&nbsp
                </div>
                </form>
                <input class="cancelButton" type="submit" onclick="hideAddCandidateModal()" value="Cancel" />
                

               </div>
         
        
            
           
   </div>



   <div  id="rightPanel">
   
   <div id="rightPanelHeader">
 
  <table>
  <tr>
  <td>
   <div class="showLeftPanel" onclick="showLeftPanel()">
   <img class="leftImage" src="../../Images/leftArrow.jpg" />
   <img class="rightImage" src="../../Images/rightArrow.jpg" />
   </div>
  </td>
  <td>
   <img src="http://localhost:57211/Images/SlalomLogo_blue_png.png" />
 </td>
 </tr>
 </table>
   </div>
   
     <div id="accordion" ng-controller="CompetencyHelperCntrl">
  
            @foreach (CompetencyArea area in Model.CompetencyAreas)
            { 
                 
                <div class="headerContainer"><h3>@area.ToString()</h3></div>
                <div class="contentContainer">
                    <div class="row">
                  
                    <div ng-repeat="competency in competencies">
                          @Html.Partial("CardView", area)
                    </div>
                           </div>
                </div>
            }

             
             
           <div id="modalView">
       
                <div class="cardModal">
                    
                    <h5>{{selectedCard.CompetencyName}}</h5> 
                    <p>Competency Description: {{selectedCard.Description}}</p>

                     <div class="border"></div>
             
                <div class="currentInterview">
                   <h5>Competency Feedback</h5>
                 <span>Candidate Level: </span>   <select>
                    <option>No Knowledge</option>
                    <option>Apprentice</option>
                    <option>Master</option>
                    </select><br />
                    
                    <span>Notes: </span><textarea></textarea>
             
                </div>

                <div class="border"></div>
             
             
             <div class="interviewedAlready">
                    
                 <h5>Interview History</h5>
                <div class="row">
                        <div class="span3">
                            <p>Interviewed By: </p>
                         <ul>
                            <li ng-repeat="interviewers in selectedCard.InterviewedBy">{{interviewers}}</li>                  
                         </ul>
                    
                </div>

                    <div class="span3">
                    <p>Level</p>
                    <p>{{selectedCard.Level}}</p>
                    </div>

                    <div class="span3">
                    <p>Comments</p>
                    <p>{{selectedCard.Notes}}</p>
                    
                    </div>
                    
                    </div>
                      
                    
              </div><br />

              <button class="submitCandidateNotes" onclick="hideModal()">Submit</button>
              <button class="modalBtn" onclick="hideModal()">Cancel</button><br /><br />

            </div>
          
       
            </div> 
       </div>




   
   </div>

    
</section>
            }


